* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.topic {
    text-transform: uppercase;
}

.top-page {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav {
    display: flex;
    gap: 10px;
}

nav a {
    color: blue;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 7px;
}

nav a:first-child {
    background-color: #100412;
    color: #f5e9f7;

}

.hero {
    background-color: #ebd4ef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 650px;
}

.text-section {
    width: 50%;
}

.text-section h1 {
    font-size: 60px;
    text-transform: uppercase;
    color: #4e1458;
    margin-left: 20px;
}

.text-section p {
    font-size: 30px;
    color: #3e1046;
    margin-left: 20px;
}

.text-section button {
    background: #ff4081;
    font-size: 24px;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    margin-left: 20px;
}

.images {
    width: 45%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.images img {
    width: 47%;
    border-radius: 100px;
    border: 2px solid #4e1458;

}

/* my code */
.mid-table h1 {
    color: #4e1458;
    font-weight: bold;
    font-size: 86px;
    text-align: center;
}

.mid-table h2 {
    font-size: 36px;
}

.lorem {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.lorem img {
    width: 30%;
}

.lorem div {
    width: 65%;
}

section h1 {
    font-size: 77px;
    text-align: center;
    margin: 2.5rem;
}

.prices-container {
    display: flex;
    justify-content: space-around;
}

.prices {
    width: 20%;
    background-color: #a63db8;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.prices:first-child {
    background-color: #ebd4ef;
}

.prices img {
    width: 65%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    margin-top: 50px;
}

.prices ul {
    list-style: none;
    line-height: 30px;
    font-size: 20px;
}

.dollar-rate {
    margin-right: auto;
}

.dollar-rate button {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 7px 10px;
    border: none;
}

span {
    margin-block: 40px;
}

span img {
    width: 20%;
    aspect-ratio: 1/1;
    border: 2px solid rgba(244, 170, 182, 0.94);
    ;
    border-radius: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
}

span p {
    font-size: 25px;
    color: green;
}

span strong {
    font-size: 25px;
    color: green;

}

div.form {
    width: 90%;
    margin: 0%auto;
    margin-block: 100px;
    background-color: #ebd4ef;
    padding: 20px;
    border-radius: 20px;
}

.form form {
    margin-bottom: 40px;
    display: flex;
    gap: 20px;
}

input {
    font-size: 20px;
    padding: 7px 10px;
    border-radius: 15px;
    border: none;
    outline: none;
}

form button {
    align-self: center;
    font-size: 15px;
    padding: 7px 17px;
    border-radius: 25px;
    border: none;
    background-color: #4e1458;
    color: white;
}

.form p {
    font-size: 25px;
    padding-bottom: 20px;
}

#new {
    font-size: 18px;
    padding-bottom: 20px;
}

.Create {
    background-color: #4e1458;
    color: white;
    padding: 15px 18px;
    border-radius: 25px;
    border: none;
}